{% extends 'animalerie/base.html' %}

{% block content %}
    <div id="Animaux">
        <h1><center> Animaux </center></h1>
        <div id="ani">
        {% for animal in animals %}
            <div class="container">
                <h2><a href="{% url 'animal_detail' id_animal=animal.id_animal %}">{{ animal.id_animal }}</a></h2>
                <b href="/"><img src="{{animal.photo}}" width="80" height="80"/></b>
                <p><b href="/">Etat : {{ animal.etat|linebreaksbr }}</p></b>
                <p><b href="/">Lieu : {{ animal.lieu|linebreaksbr }}</p></b>
                <p></p>
            </div>
        {% endfor %}
        </div>
    </div>


    <div id='Equipements'>
        <div></div>
        <h1><center> Equipements </center></h1>
        <div id="ani">
        {% for equipement in equipements %}
            <div class="container">
                <h3><b href="/">{{ equipement.id_equip }}</h3></b>
                <b href="/"><img src={{equipement.photo}} width="80" height="80"/></b>
                <p><b href="/">Disponibilité : {{ equipement.disponibilite }}</p></b>
                <p></p>
            </div>
        {% endfor %}
        </div>
    </div>
{% endblock %}