{% load static %}
<html>
    <head>
        <title>Animalerie</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
        <a href="{% url 'animal_detail' id_animal=animal.id_animal %}">{{ animal.id_animal }}</a>
    </head>
    <body>
        {% extends 'animalerie/base.html' %}
        {% load static %}
        {% block content %}
        <div class="page-header">
            <h1>
                <a href="/">{{ animal.id_animal }}</a>
            </h1>
            <form method="POST" class="post-form">{% csrf_token %}
                <b> Changer : </b> {{ form.as_ul }}
                <button type="submit" class="btn btn-outline-light">OK</button>
                <a href="{% url 'animal_list' %}">Back</a>
            </form>
        </div>
         
         
        {% endblock %}
    </body>
</html>